<section id="newClient">
  <h2>Add a new client</h2>
  <form method="post" action="/uploadClientImage" enctype="multipart/form-data" ng-submit="addClient()">
    <h3>Client info</h3>
    <label>Full name</label>
    <input type="text" name="fullName" ng-model="fullName" />
    <label>Body weight</label>
    <input type="text" name="weight" ng-model="weight" />
    <label>Profile picture</label>
    <input type="file" id="profilePhoto" name="picture"/>
    <label>Workout Plan</label>
    <input type="text" name="workoutPlan" ng-model="workoutPlan" />
    <label>Meal plan</label>
    <input type="text" name="mealPlan" ng-model="mealPlan" />
    <label>Client assessment</label>
    <input type="text" name="assessment" ng-model="clientAssessment" />
    <button type="submit">Submit</button>
  </form>
</section>
