<section id="dashboard">
  <header>
    <a href="/"><h1>Fitness Spotter</h1></a>
    <nav >
      <ul>
        <li><a href="#">Menu</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/add-client">Add client</a></li>
        <li><a href="#">Leaderboard</a></li>
        <li><a href="#">Edit info</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>
  <article id="gym">
    <img src="http://res.cloudinary.com/dilx531lm/image/upload/v1464832471/dbfrqwudnuaafo1gfoso.jpg" alt="Gym Photo" />
    <h2>LA Fitness</h2>
  </article>
  <article id="clients">
    <article class="client">
      <img src="http://res.cloudinary.com/dilx531lm/image/upload/v1464832471/dbfrqwudnuaafo1gfoso.jpg" alt="Client Photo" />
      <ul>
        <li>Alex Smith</li>
        <li><a href="#">View Profile</a></p>
      </ul>
    </article>
    <article class="client">
      <img src="http://res.cloudinary.com/dilx531lm/image/upload/v1464832471/dbfrqwudnuaafo1gfoso.jpg" alt="Client Photo" />
      <ul>
        <li>Aldo Nigh</li>
        <li><a href="#">View Profile</a></p>
      </ul>
    </article>
  </article>
</section>
