<section id="cta">
  <header>
    <a href="/"><h1>Fitness Spotter</h1></a>
    <nav >
      <ul>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Search for gyms or trainers</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/login">Sign in</a></li>
        <li><a href="/register">Sign up</a></li>
      </ul>
    </nav>
  </header>
  <article>
    <h2><span>Manage</span> your clients.</h2>
    <h2>Watch your clients and business <span>GROW!</span></h2>
    <h2>Services <span>free</span> until November 5, 2016.</h2>
    <div>
      <a href="">Find gym</a>
      <a href="/register">Join now</a>
    </div>
  </article>
</section>
<section id="features">
  <h3>Current Features</h3>
  <article class="featureList">
    <div class="feature">
      <h4>Add New Clients</h4>
      <p>When adding a new client, trainers are able to assign them custom workout plans, custom meal plans and give them assessments. Clients will have a  profile page that lists their workout plan, meal plan, client assessment and graph of progression.</p>
    </div>
    <div class="feature">
      <h4>Remove Clients</h4>
      <p>Trainers will be able to remove a client they don't train anymore. This will remove the client from the trainers dashboard and will also delete all of the clients information. Trainers will simply be able to delete a client straight from their dashboard.</p>
    </div>
    <div class="feature">
      <h4>Client Assessments</h4>
      <p>Trainers can leave their clients or trainees an assessment. This is where trainers can tell their clients they’re doing a good job or they need to improve on something. Trainers can update the assessment directly from the clients profile page.</p>
    </div>
  </article>
  <article class="featureList">
    <div class="feature">
      <h4>Progress Graph</h4>
      <p>This line graph shows how much the client has progressed. The graph will encourage and motivate clients to keep coming back because they'll see they're improving and not wasting their time or money.</p>
    </div>
    <div class="feature">
      <h4>Workout Plans</h4>
      <p>Allows trainers to give their clients customized workout plans that tell the client exactly what exercises they need to do. Workout plans will also make it easier for a new trainer to start working with a current client.</p>
    </div>
    <div class="feature">
      <h4>Meal Plans</h4>
      <p>Allows trainers to give their clients customized meal plans. Its important to be able to customize meal plans because every client is trying to end up with different results and their meal plans could affect this.</p>
    </div>
  </article>
</section>
<section id="pricing">
  <h3>Subscription Options</h3>
  <article>
    <div class="planWrapper">
      <div class="planContainer">
        <div id="basic">
          <h4>Baisc</h4>
          <p>$20</p>
        </div>
        <p>1 Trainer</p>
        <p>Unlimited clients</p>
        <p>All features</p>
      </div>
    </div>
    <div class="planWrapper">
      <div class="planContainer">
        <div id="plus">
          <h4>Plus</h4>
          <p>$45</p>
        </div>
        <p>2-5 Trainers</p>
        <p>Unlimited clients</p>
        <p>All features</p>
      </div>
    </div>
    <div class="planWrapper">
      <div class="planContainer">
        <div id="premium">
          <h4>Premium</h4>
          <p>$75</p>
        </div>
        <p>6+ Trainers</p>
        <p>Unlimited clients</p>
        <p>All features</p>
      </div>
    </div>
  </article>
</section>
<section id="contact">
  <h3>We Want To Hear From You!</h3>
  <article class="contactList">
    <div class="contact">
      <h4>Customer Support</h4>
      <p>If you ever run into any problems and need some help fixing them, feel free to call our customer service hotline where we have people ready to talk to you 24/7 at 1-800-349-9482.</p>
    </div>
    <div class="contact">
      <h4>Request Info</h4>
      <p>If you have any additional questions that you need to have answered, please call us at 1-800-458-9843 where we have people ready to talk to you 24/7.</p>
    </div>
    <div class="contact">
      <h4>Social Media</h4>
      <p>@FitnessSpotter</p>
      <p>@FitnessSpotter</p>
      <p>@FitnessSpotter</p>
    </div>
  </article>
</section>
