<section id="cta">
  <header>
    <a href="/"><h1>Fitness Spotter</h1></a>
    <nav>
      <ul>
        <li><a href="#">Search for gyms or trainers</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Sign in</a></li>
        <li><a href="/register">Sign up</a></li>
      </ul>
    </nav>
  </header>
  <article>
    <h2><span>Manage</span> your clients.</h2>
    <h2>Watch your clients and business <span>GROW!</span></h2>
    <h2>Services <span>free</span> until November 5, 2016.</h2>
    <div>
      <a href="">Find gym</a>
      <a href="/register">Join now</a>
    </div>
  </article>
</section>
<section id="features">

</section>
