<section id="profile">
  <section id="clientList" ng-repeat="client in clients">
    <article id="clientHeader">
      <img src={{client.profilePicture}} alt="Client Photo" />
      <h2>{{client.name}}</h2>
    </article>
    <article id="clientInfo">
      <h3>Workout plan</h3>
      <p>{{client.workoutPlan}}</p>
      <a href="/admin/{{dashboardRoute}}/{{client._id}}/edit">Edit</a>
      <h3>Meal plan</h3>
      <p>{{client.mealPlan}}</p>
      <a href="/admin/{{dashboardRoute}}/{{client._id}}/edit">Edit</a>
      <h3>Client assessment</h3>
      <p>{{client.clientAssessment}}</p>
      <a href="/admin/{{dashboardRoute}}/{{client._id}}/edit">Edit</a>
      <a id="delete" ng-click="delete()">Delete</a>
    </article>
  </section>
</section>
