html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #343333;
  font-family: geneva;
  margin: 0;
  padding: 0;
}
header {
  background: linear-gradient(to bottom, rgba(0,0,0, 0.9) 25%, rgba(67,67,67, 0.15));
  overflow-x: hidden;
}
header h1 {
  background: url('../imgs/logo.png') no-repeat center center;
  display: inline-block;
  height: 56px;
  margin: 18px 0 0 0;
  padding: 0;
  text-indent: -9999px;
  width: 350px;
}
header nav, header nav ul, header nav ul li {
  display: inline-block;
}
header nav {
  float: right;
  margin: 30px 0;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li:first-of-type {
  background: url('../imgs/hamburger.png') no-repeat center;
  height: 34px;
  text-indent: -9999px;
  width: 50px;
}
header nav ul li:not(:first-of-type) {
  display: none;
}
header nav#homeNav ul li:nth-of-type(2) {
  background: url('../imgs/search.png') no-repeat center;
  height: 25px;
  text-indent: -9999px;
  width: 50px;
}
header nav ul li:nth-of-type(2):hover {
  cursor: pointer;
}
header nav ul li:not(:first-of-type) {
  padding-right: 30px;
}
header nav ul li:last-child {
  background-color: #2B00FF;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 15px;
}
header nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;;
}
header nav ul li:not(:last-child) a:hover {
  border-bottom: solid 1px white;
}
section#cta {
  background: url('../imgs/cta2.png') no-repeat center;
  background-size: cover;
  height: 700px;
  width: 100%;
}
section#cta article {
  margin: 75px auto;
  width: 375px;
}
section#cta article h2 {
  color: white;
  font-size: 30px;
  margin: 0;
  text-align: center;
  width: 100%;
}
section#cta article h2:not(:last-of-type) {
  padding: 10px 0;
}
section#cta article h2 span {
  color: #4AE012;
}
section#cta article div {
  margin: 20px auto;
  width: 375px
}
section#cta article div a {
  border: solid 2px #2B00FF;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: inline;
  font-size: 30px;
  padding: 5px 15px;
  text-decoration: none;
}
section#cta article div a:first-of-type {
  margin-right: 20px;
}
section#features, section#contact {
  background-color: #F5F8FA;
}
section#features h3, section#pricing h3, section#contact h3 {
  font-size: 45px;
  margin: 0 auto 20px auto;
  padding-top: 20px;
  text-align: center;
  width: 100%;
}
section#features article.featureList, section#contact article.contactList {
  margin: 0 auto;
  width: 100%;
}
section#features article.featureList:first-of-type {
  margin-bottom: 20px;
}
section#features article.featureList:last-of-type {
  padding-bottom: 40px;
}
section#features article.featureList div.feature, section#contact article.contactList div.contact {
  display: inline-block;
  width: 100%;
}
section#features article.featureList div.feature h4, section#contact article.contactList div.contact h4 {
  color: #2B00FF;
  font-size: 35px;
  margin: 0 auto;
  text-align: center;
  width: 330px;
}
section#features article.featureList div.feature p, section#contact article.contactList div.contact p {
  font-size: 20px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  width: 75%;
}
section#pricing {
  background-color: #343333;
}
section#pricing article {
  margin: 0 auto;
  width: 100%;
}
div.planWrapper {
  display: inline-block;
  margin-bottom: 10px;
  width: 280px;
}
div.planWrapper:not(:last-of-type) {
  margin-right: 30px;
}
div.planWrapper div.planContainer {
  border: solid 1px black;
  margin-bottom: 10px;
}
div.planWrapper div.planContainer div#basic, div.planWrapper div.planContainer div#plus, div.planWrapper div.planContainer div#premium {
  border-bottom: solid 1px black;
}
div.planWrapper div.planContainer h4 {
  color: white;
  font-size: 28px;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}
div.planWrapper div.planContainer div p {
  color: white;
  font-size: 55px;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
}
div.planWrapper div.planContainer > p {
  color: white;
  font-size: 23px;
  margin: 0;
  padding: 0;
  text-align: center;
}
div.planWrapper div.planContainer > p:not(:last-of-type) {
  border-bottom: solid 1px black;
  margin: 10px 0;
}
section#contact article.contactList div.contact:last-of-type p {
  height: 55px;
}
section#contact article.contactList div.contact:last-of-type p:first-of-type::before {
  background-image: url('../imgs/facebook.png');
  background-repeat: no-repeat;
  color: transparent;
  content: "img";
}
section#contact article.contactList div.contact:last-of-type p:nth-of-type(2)::before {
  background-image: url('../imgs/twitter.png');
  background-repeat: no-repeat;
  color: transparent;
  content: "img";
}
section#contact article.contactList div.contact:last-of-type p:last-of-type::before {
  background-image: url('../imgs/instagram.png');
  background-repeat: no-repeat;
  color: transparent;
  content: "img";
}
section#register h2 {
  color: white;
  font-size: 40px;
  margin-left: 38px;
}
section#register form {
  margin-left: 38px;
}
section#register form h3 {
  border-bottom: solid 1px white;
  color: white;
  font-size: 25px;
  width: 350px;
}
section#register form label {
  color: white;
  display: block;
  font-size: 23px;
  padding-bottom: 5px;
}
section#register form input[type="text"], section#register form input[type="password"] {
  border-radius: 2px;
  height: 25px;
  margin-bottom: 10px;
  width: 279px;
}
section#register form a {
  background-color: #4AE012;
  border-radius: 2px;
  color: black;
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  width: 90px;
}
section#register form input[type="radio"] {
  margin-left: 130px;
}
section#register form select {
  width: 125px;
}
section#register form button {
  background-color: #4AE012;
  border: solid 0px black;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  font-size: 24px;
  margin: 20px 0;
  padding: 5px 10px;
}
section#login div {
  background-color: white;
  border-radius: 5px;
  height: 285px;
  margin: 100px auto;
  width: 380px;
}
section#login div form label {
  display: block;
  font-size: 23px;
  padding: 0 0 5px 50px;
}
section#login div form label:first-of-type {
  padding-top: 30px;
}
section#login div form input[type="text"], section#login div form input[type="password"] {
  border-radius: 2px;
  display: block;
  height: 28px;
  margin: 0 0 10px 50px;
  width: 290px;
}
section#login div form a {
  background-color: #2B00FF;
  border: solid 0px black;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin: 0 95px 0 50px;
  padding: 5px 10px;
  text-decoration: none;
}
section#login div form button {
  background-color: #4AE012;
  border: solid 0px black;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin: 20px 0;
  padding: 5px 10px;
}
section#dashboard article#gym {
  margin: 0 auto;
  max-width: 400px;
}
section#dashboard article#gym img {
  border-radius: 50%;
  display: block;
  height: 200px;
  margin: 0 auto;;
  width: 200px;
}
section#dashboard article#gym h2 {
  color: white;
  font-size: 45px;
  margin: 0 auto;
  padding: 15px 0;
  width: 228px;
}
section#dashboard article#clients article.client {
  margin-bottom: 30px;
}
section#dashboard article#clients article.client img {
  border-radius: 50%;
  display: block;
  height: 200px;
  margin: 0 auto;;
  width: 200px;
}
section#dashboard article#clients article.client ul {
  display: inline-block;
  list-style-type: none;
  margin-left: 30px;
}
section#dashboard article#clients article.client ul li {
  display: block;
  color: white;
  font-size: 30px;
  margin: 0;
}
section#dashboard article#clients article.client ul li a {
  color: #4AE012;
}
section#newClient h2 {
  color: white;
  font-size: 40px;
  margin-left: 38px;
}
section#newClient form {
  margin-left: 38px;
}
section#newClient form h3 {
  border-bottom: solid 1px white;
  color: white;
  font-size: 25px;
  width: 350px;
}
section#newClient form label {
  color: white;
  display: block;
  font-size: 23px;
  padding-bottom: 5px;
}
section#newClient form input[type="text"] {
  border-radius: 2px;
  height: 25px;
  margin-bottom: 10px;
  width: 279px;
}
section#newClient form a {
  background-color: #4AE012;
  border-radius: 2px;
  color: black;
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  width: 90px;
}
section#newClient form button {
  background-color: #4AE012;
  border: solid 0px black;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  font-size: 24px;
  margin: 20px 0;
  padding: 5px 10px;
}



@media screen and (min-width: 460px) {
  header h1 {
    margin-left: 30px;
  }
  section#features h3, section#pricing h3, section#contact h3 {
    width: 460px;
  }
}
@media screen and (min-width: 490px) {
  header nav {
    margin-right: 30px;
  }
  section#dashboard article#gym {
    max-width: 458px;
  }
  section#dashboard article#gym img {
    display: inline;
    height: 175px;
    margin-right: 50px;
    width: 175px;
  }
  section#dashboard article#gym h2 {
    display: inline;
  }
  section#dashboard article#clients article.client img {
    display: inline;
    height: 175px;
    margin-left: 30px;
    width: 175px;
  }
  section#dashboard article#clients article.client ul {
    margin: 0;
  }
}
@media screen and (min-width: 595px) {
  section#cta article {
    width: 595px;
  }
  section#cta article h2 {
    font-size: 45px;
  }
  section#register form h3 {
    width: 558px;
  }
  section#login div {
    width: 500px;
  }
  section#login div form input[type="text"], section#login div form input[type="password"] {
    width: 380px;
  }
  section#login div form a {
    margin: 0 184px 0 50px;
  }
  section#newClient form h3 {
    width: 558px;
  }
}
@media screen and (min-width: 617px) {
  section#features h3, section#pricing h3, section#contact h3 {
    width: 617px;
  }
}
@media screen and (min-width: 800px) {
  section#cta article {
    width: 800px;
  }
}
@media screen and (min-width: 985px) {
  section#cta article {
    margin: 130px auto;
    width: 983px;
  }
  section#cta article h2:not(:last-of-type) {
    padding: 0;
  }
  section#pricing article {
    width: 911px;
  }
}
@media screen and (min-width: 1026px) {
  header nav ul li:first-of-type {
    display: none;
  }
  header nav ul li:not(:first-of-type) {
    display: inline-block;
  }
}
@media screen and (min-width: 1040px) {
  section#features article.featureList div.feature:not(:last-of-type), section#contact article.contactList div.contact:not(:last-of-type) {
    margin-right: 30px;
  }
  section#features article.featureList, section#contact article.contactList {
    width: 971px;
  }
  section#features article.featureList div.feature, section#contact article.contactList div.contact {
    width: 300px;
  }
  section#features article.featureList div.feature p, section#contact article.contactList div.contact p {
    margin: 0;
    width: 94%;
  }
}
@media screen and (min-width: 1125px) {
  section#features article.featureList, section#contact article.contactList {
    width: 1121px;
  }
  section#features article.featureList div.feature, section#contact article.contactList div.contact {
    width: 350px;
  }
}
@media screen and (min-width: 1280px) {
  section#features article.featureList, section#contact article.contactList {
    width: 1277px;
  }
  section#features article.featureList div.feature, section#contact article.contactList div.contact {
    width: 402px;
  }
}
