html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #343333;
  font-family: geneva;
  margin: 0;
  padding: 0;
}
header {
  background: linear-gradient(to bottom, rgba(0,0,0, 0.9) 25%, rgba(67,67,67, 0.15));
  overflow-x: hidden;
}
header h1 {
  background: url('../imgs/logo.png') no-repeat center center;
  display: inline-block;
  height: 56px;
  margin: 18px 0 0 0;
  padding: 0;
  text-indent: -9999px;
  width: 350px;
}
header nav, header nav ul, header nav ul li {
  display: inline-block;
}
header nav {
  float: right;
  margin: 30px 0;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li:first-of-type {
  background: url('../imgs/hamburger.png') no-repeat center;
  height: 34px;
  text-indent: -9999px;
  width: 50px;
}
header nav ul li:not(:first-of-type) {
  display: none;
}
header #homeNav ul li:nth-of-type(2) {
  background: url('../imgs/search.png') no-repeat center;
  height: 25px;
  text-indent: -9999px;
  width: 50px;
}
header nav ul li:nth-of-type(2):hover {
  cursor: pointer;
}
header nav ul li:not(:first-of-type) {
  padding-right: 30px;
}
header nav ul li:last-child {
  background-color: #2B00FF;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 15px;
}
header nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;;
}
header nav ul li:not(:last-child) a:hover {
  border-bottom: solid 1px white;
}
#cta {
  background: url('../imgs/cta2.png') no-repeat center;
  background-size: cover;
  height: 700px;
  width: 100%;
}
#cta article {
  margin: 75px auto;
  width: 375px;
}
#cta article h2 {
  color: white;
  font-size: 30px;
  margin: 0;
  text-align: center;
  width: 100%;
}
#cta article h2:not(:last-of-type) {
  padding: 10px 0;
}
#cta article h2 span {
  color: #4AE012;
}
#cta article div {
  margin: 20px auto;
  width: 375px
}
#cta article div a {
  border: solid 2px #2B00FF;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: inline;
  font-size: 30px;
  padding: 5px 15px;
  text-decoration: none;
}
#cta article div a:first-of-type {
  margin-right: 20px;
}
#features, #contact {
  background-color: #F5F8FA;
}
#features h3, #pricing h3, #contact h3 {
  font-size: 45px;
  margin: 0 auto 20px auto;
  padding-top: 20px;
  text-align: center;
  width: 100%;
}
#features article.featureList, #contact article.contactList {
  margin: 0 auto;
  width: 100%;
}
#features article.featureList:first-of-type {
  margin-bottom: 20px;
}
#features article.featureList:last-of-type {
  padding-bottom: 40px;
}
#features article.featureList div.feature, #contact article.contactList div.contact {
  display: inline-block;
  width: 100%;
}
#features article.featureList div.feature h4, #contact article.contactList div.contact h4 {
  color: #2B00FF;
  font-size: 35px;
  margin: 0 auto;
  text-align: center;
  width: 330px;
}
#features article.featureList div.feature p, #contact article.contactList div.contact p {
  font-size: 20px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  width: 75%;
}
#pricing {
  background-color: #343333;
}
#pricing article {
  margin: 0 auto;
  width: 100%;
}
div.planWrapper {
  display: inline-block;
  margin-bottom: 10px;
  width: 280px;
}
div.planWrapper:not(:last-of-type) {
  margin-right: 30px;
}
div.planWrapper div.planContainer {
  border: solid 1px black;
  margin-bottom: 10px;
}
div.planWrapper div.planContainer #basic, div.planWrapper div.planContainer #plus, div.planWrapper div.planContainer #premium {
  border-bottom: solid 1px black;
}
div.planWrapper div.planContainer h4 {
  color: white;
  font-size: 28px;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}
div.planWrapper div.planContainer div p {
  color: white;
  font-size: 55px;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
}
div.planWrapper div.planContainer > p {
  color: white;
  font-size: 23px;
  margin: 0;
  padding: 0;
  text-align: center;
}
div.planWrapper div.planContainer > p:not(:last-of-type) {
  border-bottom: solid 1px black;
  margin: 10px 0;
}
#contact article.contactList div.contact:last-of-type p {
  height: 55px;
}
#contact article.contactList div.contact:last-of-type p:first-of-type::before {
  background-image: url('../imgs/facebook.png');
  background-repeat: no-repeat;
  color: transparent;
  content: "img";
}
#contact article.contactList div.contact:last-of-type p:nth-of-type(2)::before {
  background-image: url('../imgs/twitter.png');
  background-repeat: no-repeat;
  color: transparent;
  content: "img";
}
#contact article.contactList div.contact:last-of-type p:last-of-type::before {
  background-image: url('../imgs/instagram.png');
  background-repeat: no-repeat;
  color: transparent;
  content: "img";
}
#register h2, #newClient h2, #editUser h2, #editClient h2 {
  color: white;
  font-size: 40px;
  margin-left: 38px;
}
#register form, #newClient form, #editUser form, #editClient form {
  margin-left: 38px;
}
#register form h3, #newClient form h3, #profile #clientInfo h3, #editUser form h3, #editClient form h3, #clientProfile #clientInfo h3 {
  border-bottom: solid 1px white;
  color: white;
  font-size: 25px;
  width: 350px;
}
#register form label, #editUser form label, #editClient form label {
  color: white;
  display: block;
  font-size: 23px;
  padding-bottom: 5px;
}
#register form input[type="text"], #register form input[type="password"], #editUser form input[type="text"], #editUser form input[type="password"], #editClient form input[type="text"], #editClient form input[type="password"] {
  border-radius: 2px;
  height: 25px;
  margin-bottom: 10px;
  width: 279px;
}
#register form a, #editUser form a, #editClient form a {
  background-color: #4AE012;
  border-radius: 2px;
  color: black;
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  width: 90px;
}
#register form input[type="radio"], #editUser form input[type="radio"], #editClient form input[type="radio"] {
  margin-left: 130px;
}
#register form select, #editUser form select, #editClient form select {
  width: 125px;
}
#register form button, #editUser form button, #editClient form button {
  background-color: #4AE012;
  border: solid 0px black;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  font-size: 24px;
  margin: 20px 0;
  padding: 5px 10px;
}
#login div {
  background-color: white;
  border-radius: 5px;
  height: 285px;
  margin: 100px auto;
  width: 380px;
}
#login div form label {
  display: block;
  font-size: 23px;
  padding: 0 0 5px 50px;
}
#login div form label:first-of-type {
  padding-top: 30px;
}
#login div form input[type="text"], #login div form input[type="password"] {
  border-radius: 2px;
  display: block;
  height: 28px;
  margin: 0 0 10px 50px;
  width: 290px;
}
#login div form a {
  background-color: #2B00FF;
  border: solid 0px black;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin: 0 95px 0 50px;
  padding: 5px 10px;
  text-decoration: none;
}
#login div form button {
  background-color: #4AE012;
  border: solid 0px black;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin: 20px 0;
  padding: 5px 10px;
}
#dashboard #gym, #profile #clientHeader, #clientDashboard #gym, #clientProfile #clientHeader {
  margin: 0 auto;
  max-width: 400px;
}
#dashboard #gym img, #profile #clientHeader img, #clientDashboard #gym img, #clientProfile #clientHeader img {
  border-radius: 50%;
  display: block;
  height: 200px;
  margin: 0 auto;;
  width: 200px;
}
#dashboard #gym h2, #profile #clientHeader h2, #clientDashboard #gym h2, #clientProfile #clientHeader h2 {
  color: white;
  font-size: 40px;
  margin: 0 auto;
  padding: 15px 0;
  width: 228px;
}
#dashboard #clients article.client, #clientDashboard #clients article.client {
  margin-bottom: 30px;
}
#dashboard #clients article.client img, #clientDashboard #clients article.client img {
  border-radius: 50%;
  display: block;
  height: 200px;
  margin: 0 auto;;
  width: 200px;
}
#dashboard #clients article.client ul, #clientDashboard #clients article.client ul {
  display: inline-block;
  list-style-type: none;
  margin-left: 30px;
}
#dashboard #clients article.client ul li, #clientDashboard #clients article.client ul li {
  display: block;
  color: white;
  font-size: 30px;
  margin: 0;
}
#dashboard #clients article.client ul li a, #clientDashboard #clients article.client ul li a {
  color: #4AE012;
}
#newClient h2 {
  color: white;
  font-size: 40px;
  margin-left: 38px;
}
#editUser #delete {
  background-color: red;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 20px;
  margin-left: 38px;
  padding: 5px 15px;
  text-decoration: none;
  width: 65px;
}
#newClient form h3, #profile #clientInfo h3, #clientProfile #clientInfo h3 {
  border-bottom: solid 1px white;
  color: white;
  width: 350px;
}
#newClient form h3 {
  font-size: 25px;
}
#newClient form label {
  color: white;
  display: block;
  font-size: 23px;
  padding-bottom: 5px;
}
#newClient form input[type="text"] {
  border-radius: 2px;
  height: 25px;
  margin-bottom: 10px;
  width: 279px;
}
#newClient form a {
  background-color: #4AE012;
  border-radius: 2px;
  color: black;
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  width: 90px;
}
#newClient form button {
  background-color: #4AE012;
  border: solid 0px black;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  font-size: 24px;
  margin: 20px 0;
  padding: 5px 10px;
}
#profile #clientInfo, #clientProfile #clientInfo {
  margin-left: 38px;
}
#profile #clientInfo h3, #clientProfile #clientInfo h3 {
  font-size: 30px;
}
#profile #clientInfo p, #clientProfile #clientInfo p {
  font-size: 25px;
}
#profile #clientInfo a {
  background-color: #2B00FF;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 15px;
  text-decoration: none;
}
#profile #clientInfo #delete {
  background-color: red;
  display: block;
  margin: 30px 0;
  width: 65px;
}









@media screen and (min-width: 460px) {
  header h1 {
    margin-left: 30px;
  }
  #features h3, #pricing h3, #contact h3 {
    width: 460px;
  }
}
@media screen and (min-width: 490px) {
  header nav {
    margin-right: 30px;
  }
  #dashboard #gym, #profile #clientHeader, #clientDashboard #gym, #clientProfile #clientHeader {
    max-width: 700px;
  }
  #dashboard #gym img, #profile #clientHeader img, #clientDashboard #gym img, #clientProfile #clientHeader img {
    display: inline;
    height: 175px;
    margin-right: 50px;
    width: 175px;
  }
  #dashboard #gym h2, #profile #clientHeader h2, #clientDashboard #gym h2, #clientProfile #clientHeader h2 {
    display: inline;
  }
  #dashboard #clients article.client img, #clientDashboard #clients article.client img {
    display: inline;
    height: 175px;
    margin-left: 30px;
    width: 175px;
  }
  #dashboard #clients article.client ul, #clientDashboard #clients article.client ul {
    margin: 0;
  }
}
@media screen and (min-width: 595px) {
  #cta article {
    width: 595px;
  }
  #cta article h2 {
    font-size: 45px;
  }
  #register form h3, #editUser form h3, #editClient form h3 {
    width: 558px;
  }
  #login div {
    width: 500px;
  }
  #login div form input[type="text"], #login div form input[type="password"] {
    width: 380px;
  }
  #login div form a {
    margin: 0 184px 0 50px;
  }
  #newClient form h3, #profile #clientInfo h3, #clientProfile #clientInfo h3 {
    width: 558px;
  }
}
@media screen and (min-width: 617px) {
  #features h3, #pricing h3, #contact h3 {
    width: 617px;
  }
}
@media screen and (min-width: 800px) {
  #cta article {
    width: 800px;
  }
}
@media screen and (min-width: 985px) {
  #cta article {
    margin: 130px auto;
    width: 983px;
  }
  #cta article h2:not(:last-of-type) {
    padding: 0;
  }
  #pricing article {
    width: 911px;
  }
}
@media screen and (min-width: 1026px) {
  header nav ul li:first-of-type {
    display: none;
  }
  header nav ul li:not(:first-of-type) {
    display: inline-block;
  }
}
@media screen and (min-width: 1040px) {
  #features article.featureList div.feature:not(:last-of-type), #contact article.contactList div.contact:not(:last-of-type) {
    margin-right: 30px;
  }
  #features article.featureList, #contact article.contactList {
    width: 971px;
  }
  #features article.featureList div.feature, #contact article.contactList div.contact {
    width: 300px;
  }
  #features article.featureList div.feature p, #contact article.contactList div.contact p {
    margin: 0;
    width: 94%;
  }
}
@media screen and (min-width: 1125px) {
  #features article.featureList, #contact article.contactList {
    width: 1121px;
  }
  #features article.featureList div.feature, #contact article.contactList div.contact {
    width: 350px;
  }
}
@media screen and (min-width: 1280px) {
  #features article.featureList, #contact article.contactList {
    width: 1277px;
  }
  #features article.featureList div.feature, #contact article.contactList div.contact {
    width: 402px;
  }
}
